version: '3.9'

services:
  app:
    build: .
    ports:
      - '4300:4200'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
