services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "4300:4200"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
